<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">//${members}로 꺼내와서 member : 의 member에 담고
                <td th:text="${member.id}"></td>//member.해서 사용
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>